*{
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
	font-size: 14px;
	box-sizing: border-box;
    font-family: "微软雅黑", sans-serif;
}
li{
	list-style: none;
}
input{
	-webkit-appearance: none;
}
a{
	text-decoration: none;
}
.fl_l{
	float: left;
}
.fl_r{
	float: right;
}
.clearfix::before,
.clearfix::after{
	content: "";
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
}
