.jdBox{
	width: 100%;
	background: rgba(255,255,255);
}
.header{
    height: 40px;
    width: 100%;
    background: rgba(255,27,1,0);
    position: fixed;
    top: 0;
    z-index: 999999999;
    padding: 0 60px 0 60px;
}
.search{
	width: 100%;
    height: 30px;
    margin-top: 5px;
    border-radius: 20px;
    padding-left: 24px;
}
.glass{
	width: 20px;
	height: 20px;
	display: block;
	background: url(../img/sprites.png)no-repeat -60px -109px;
	background-size: 200px 200px;
	position: absolute;
	left: 67px;
	top: 10px;
}
.header-logo,
.header-login{
	width: 60px;
	height: 36px;
	display: block;
	position: absolute;
	top: 2px;
}
.header-logo{
	left: 0;
	background: url(../img/sprites.png)no-repeat 0 -102px;
	background-size: 200px 200px;
}
.header-login{
	right: 0;
	background-position: 0px 0px;
	color: white;
	line-height: 36px;
	text-align: center;
}
.banner{
	width: 100%;
	overflow: hidden;
	position: relative;
	top:0;
}
.banner a{
	display: block;
}
.banner img{
	display: block;
}
.banner .ulu{
	/*宽度为li的个数X100+'%'*/
	width: 400%;
	/*margin-left: -100%;*/
	/*此处不可以用all*/
	/*transition: all 3s;*/
	/*transition: margin-left 0.3s linear;*/
	position: relative;
}
.banner li{
	/*width为100/li的个数+'%'*/
	width: 25%;
	float: left;
}
.banner li img{
	width: 100%;
}
.number{
	position: absolute;
	left: 50%;
	bottom:10px;
	margin-left: -48px;
}
.number .circle{
	width: 6px;
	height: 6px;
	border: 1px solid white;
	border-radius: 50%;
	margin: 0 3px;
}
.number .black{
	width: 6px;
	height: 6px;
	border: 1px solid white;
	border-radius: 50%;
	margin: 0 3px;
	background: black;
}
.nav{
	width: 100%;
	text-align: center;
}
.nav ul{
	width: 100%;
}
.nav ul li{
	width: 25%;
	float: left;
	padding: 5px 0;
}
.nav ul li a{
	display: block;
}
.nav ul li img{
	width: 50%;
}
a{
	color: gray;
}
.main{
	width: 100%;
	margin-top: 5px;
	padding: 0 5px;
}
.hot{
	width: 100%;
	margin: 0 auto;
	background: white;
    margin-bottom: 5px;
    box-shadow: -1px 1px 15px grey;
}
.hot .handKill span{
	width: 20px;
	height: 25px;
	display: block;
	background: url(../img/seckill-icon.png);
	background-size:20px 25px ;
	margin-left: 4px;
}
.hot .handKill p,
.hot .handKill a{
	margin-left: 4px;
	color: rgba(220,60,70,1);
	line-height: 32px;
}
/*为什么用了c3浮动就无效了*/
/*.handKill{
	display: flex;
	align-items: center;
}*/
.hot ul{
	padding-top: 8px;
}
.hot .handKill ul li{
	float: left;
    height: 15px;
    width: 15px;
    background-color: black;
	text-align: center;
	margin-left: 3px;
	color: white;
	line-height: 15px;
}
.hot ul li:nth-child(3n){
	background: white;
	color: black;
}
.hot a{
	color: gray;
}
.hot-bottom{
	width: 100%;
}
.hot-bottom li{
	width: 33.3333333%;
	text-align: center;
	float: left;
}
.hot-bottom a{
	display: block;
}
.hot-bottom img{
	width: 70%;
}
.hot-bottom .clearfix li:nth-child(2) a{
	border-left: 1px solid gray;
	border-right: 1px solid gray;
}
.hot-bottom .clearfix li p:nth-child(2){
	color: red;
}
.hot-bottom .clearfix li p:nth-of-type(2){
	text-decoration: line-through;
}
.hot-header{
	border-bottom:1px solid gainsboro ;
}
.hot-header span{
	line-height: 32px;
	color: rgba(220,60,70,1);
	padding-left: 5px;
	font-size: 14px;
	font-weight: bolder;
}
.hot-content li{
	width: 50%;
	float: left;
}
.hot-content a{
	display: block;
}
.hot-content img{
	width: 100%;
}
